@import url("https://fonts.googleapis.com/css?family=Kalam&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
nav {
  flex: 1;
  position: fixed;
  height: 20px;
  padding: 0;
  width: 100%;
  background-color: white;
  z-index: 1;
  top: 0;
  left: 0;
}

.nav {
  display: flex;
  height: 20px;
  padding: 20px 0;
  margin-left: -2px;
  margin-right: -2px;
  margin-top: -2px;
  /* box-shadow: 1px 1px 1px 0.3px #cecece; */
  width: 100%;
}
.nav img {
        width: 40px;
        margin-right: 300px;
        vertical-align: sub;
}

.heading {
  margin-left: 20px;
  font-family: 'Monoton', cursive;
  text-transform: uppercase;
  height: 20px;
  letter-spacing: 2px;
  color: #05256C;
  text-align: left;
  font-size: 24px;
  flex: 1;
  max-width: 35vw;
}

/* .logo {
  font-family: "Monoton", cursive;
} */
/* .logo:hover {
  transform: scale(1.004);
} */

.links {
  flex: 2;
  max-width: 60vw;
  align-items: center;
  font-size: 18px;
  display: flex;
  margin: 20px 0 0 80px;
}

.link {
  flex: 1;
  
}

.welcome {
  padding: 0 100px;
}

a {
  text-decoration: none;
  color: black;
}
hr {
        width: 97%;
        margin-top: 0;
}

@media (max-width: 500px) {
  nav {
    width: 98%;
  }
  .logo {
    max-width: 50%;
  }
  .links {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 50vw;
  }
  .link {
    padding: 3px;
  }
}
