@import url("https://fonts.googleapis.com/css?family=Kalam&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
nav {
  flex: 1;
  position: fixed;
  height: 20px;
  padding: 0;
  width: 100%;
  z-index: 1;
  top: 0;
  left: 0;
}
.nav {
  display: flex;
  height: 20px;
  padding: 20px 0;
  margin-left: -2px;
  margin-right: -2px;
  margin-top: -2px;
  width: 100%;
  background-color: white;
}
.nav img {
  width: 40px;
  margin-right: 300px;
}
.heading {
  margin-left: 20px;
  font-family: "Monoton", cursive;
  text-transform: uppercase;
  vertical-align: super;
  height: 20px;
  letter-spacing: 2px;
  color: #050f6c;
  text-align: left;
  font-size: 28px;
  flex: 1;
  max-width: 35vw;
}
.links {
  flex: 2;
  max-width: 60vw;
  align-items: center;
  font-size: 18px;
  display: flex;
  margin: 20px 0 0 80px;
}
.link {
  flex: 1;
}
.welcome {
  padding: 0 100px;
}
a {
  text-decoration: none;
  color: black;
}
hr {
  width: 97%;
  margin-top: 0;
}
@media (max-width: 500px) {
  nav {
    height: 100px;
    background-color: white;
    padding-bottom: 10px;
  }
  hr {
    display: none;
  }
  .links a {
    text-align: center;
    color: #050f6c;
    font-weight: 600;
    font-size: 16px;
    padding: 0 5px;
  }
  .nav {
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: white;
  }

  .logo {
    text-align: center;
  }
  .salad-bowl {
    display: none;
  }

  .layout-children {
    margin-top: 100px;
  }

  .heading {
    font-size: 14px;
  }
}
