@import url("https://fonts.googleapis.com/css?family=Kalam&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");

.recipe-detail-page {
    padding: 10px 100px;
   
}

.detail {
    display: flex;
}
.name {
    min-width: 500px;
    font-size: 46px;
    font-weight: 400;
    color: black;
    border-radius: 15px;
    margin-bottom: 10px;
    
}
img {
        width: 640px;
        border-radius: 18px;
}
.aside-bottom {
        display: flex;
        justify-content: space-between ;
}
.category-container {
        margin-right: 0;
}
.category {
        width: 100%;
        margin: 0px; 
        font-size: 32px;
        font-weight: 100;
}
.course {
        margin: 0;

}
.difficulty {
        margin: 0;
        text-transform: uppercase;
}
.cuisine{
        margin: 0;
}
.preptime {
        margin: 0;
}
.cooktime {
        margin: 0;
}
.serves {
        margin: 0;
}

/* //////// Buttons ///////////// */
.edit-container {
        width: 50%;
}

.button-container {
        width: 100%;
        margin-top: 2%;
        margin-left: 80px;
        display: flex;
}

.delete-button {
        height: 70px;
        width: 120px;
        margin: 0;
        padding: 5px;
        box-shadow: none;
        background-color: rgba(255, 0, 0, 0.561);
        border-radius: 10px;
        border: none;
        font-size: 25px;
        font-weight: 100;
        text-transform: lowercase;
}

.edit-button {
        height: 70px;
        width: 120px;
        margin: 0;
        font-size: 25px;
        font-weight: 100;
        text-transform: lowercase;
        background-color: rgba(187, 187, 189, 0.561);
        border-radius: 10px;
        border: none;
        padding: 5px;
        box-shadow: none;
}

.main {
        font-size: 22px;
        font-weight: 200;
        width: 50%;
        margin-top: 25px;
        margin-left: 5%;
}

.ingredients h2 {
        width: 200px;
        color: black;
        font-size: 30px;
        background-color: rgba(255, 255, 0, 0.712);
        font-weight: 300;
        text-align: center;
        margin: 20px 0 10px -30px;
        border-radius: 10px;
}

.instructions h2 {
        width: 200px;
        color: white;
        font-size: 30px;
        background-color: rgba(28, 160, 39, 0.712);
        font-weight: 300;
        text-align: center;
        margin: 20px 0 10px -30px;
        border-radius: 10px;
}

.ingredients {
        
        margin-bottom: 5%;
  
}

@media (max-width: 500px) {
        body {
                max-width: 100%;
        }
        .aside {
          padding: 5%;
        }
        .recipe-detail-page {
                padding: 10px 20px;
                width: 100%;
               
            }
            .detail {
                display: initial;
            }
        img {
                width: 450px;
                border-radius: 18px;
        }
        .main {
                font-size: 22px;
                font-weight: 200;
                width: 80%;
                margin-top: 0;
                padding-left: 5%;
        }
        .category-container{
          padding: 5%;
        }
        .edit-container {
                width: 100%;
        }
        .button-container {
                display: flex;
                flex-direction: column;
                margin:0;
                align-items: center;
        }
        .delete-button {
                height: 50px;
                width: 95px;
                margin: 10px;
                box-shadow: none;
                background-color: rgba(255, 0, 0, 0.561);
                border-radius: 10px;
                border: none;
                font-size: 25px;
                font-weight: 100;
                text-transform: lowercase;
        }
        .edit-button {
                height: 50px;
                width: 95px;
                margin: 10px;
                font-size: 25px;
                font-weight: 100;
                text-transform: lowercase;
                background-color: rgba(187, 187, 189, 0.561);
                border-radius: 10px;
                border: none;
                box-shadow: none;
        }
}